<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="2.0" package="com.bekhzodnurmukhamedov.nihol" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="Nihol.Android" android:icon="@mipmap/MyIcon"></application>
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>